@font-face {
  font-family: "Outfit Thin";
  src: url("/fonts/Outfit/Outfit-Thin.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit SemiBold";
  src: url("/fonts/Outfit/Outfit-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit Regular";
  src: url("/fonts/Outfit/Outfit-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit Medium";
  src: url("/fonts/Outfit/Outfit-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit Light";
  src: url("/fonts/Outfit/Outfit-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit ExtraLight";
  src: url("/fonts/Outfit/Outfit-ExtraLight.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit ExtraBold";
  src: url("/fonts/Outfit/Outfit-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit Bold";
  src: url("/fonts/Outfit/Outfit-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Outfit Black";
  src: url("/fonts/Outfit/Outfit-Black.ttf") format('truetype');
}