// ------------------------------------
// Link Component Stylesheet
// ------------------------------------

.Base {
  &--Link {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #0097EC;
    cursor: pointer;
    padding-inline: 5px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(234, 234, 234, 0.4);
    }

    &:active {
      background-color: rgba(234, 234, 234, 0.50);
      color: #0485d2;
      user-select: none;
    }
  }
}