// ------------------------------------
// MenuList Component Stylesheet
// ------------------------------------

@import "colors";

.Base {
  &--MenuList {
    min-width: 8em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: fit-content;
    color: black;

    &__ListContainer, &__Title, &__ItemContainer {
      border-radius: 5px;
    }

    &__ListContainer, &__Title {
      border: 1.5px solid $item-default-dark-border-color;
      padding: 0.5em 0.2em;
    }

    &__Title {
      padding: 0.2em;
    }

    &__ListContainer {
      display: flex;
      flex-direction: column;
      z-index: 3;
    }

    &__ItemContainer {
      padding-inline: 0.2em;

      &:hover {
        background-color: $item-warning-hover-bg;
        color: white;
      }
    }
  }
}