// ------------------------------------
// MenuList Component Stylesheet
// ------------------------------------

@import "colors";
@import "../../Assets/Themes/colors";
// Keyframes

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Base {
  &--MenuList {
    user-select: none;
    flex-direction: column;
    color: black;
    font-family: "Outfit", sans-serif;
    font-size: 9pt;
    position: absolute;
    margin-top: 3px;
    display: block;
    animation: 0.065s ease-in-out fade;
    width: fit-content;
    background-color: $default-light-bg;
    border: 1.5px solid $item-default-dark-border-color;
    padding: 0.5em 0.2em;
    border-radius: 5px;
    transition: all 0.065s ease-in-out;
  }
}