// ------------------------------------
// Spinner Component Stylesheet
// ------------------------------------

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.Misc {
  &__Spinner {
    display: inline-flex;
    animation: spin 1.5s infinite linear;

    &--Default {
      filter: grayscale(1) opacity(0.8);
    }

    &--Small {
      & svg {
        height: 15px;
        width: auto;
      }
    }

    &--Medium {
      & svg {
        height: 35px;
        width: auto;
      }
    }

    &--Large {
      & svg {
        height: 60px;
        width: auto;
      }
    }
  }
}