// Import fonts here
// Using Google Fonts CDN
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import 'colors';

// Default config
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // Default Display font
  font-family: "Outfit", sans-serif;
  font-size: 9pt;
}

 .material-symbols-rounded {
   font-family: Material Symbols Rounded, sans-serif;
   font-variation-settings:
           'FILL' 0,
           'wght' 500,
           'GRAD' 0,
           'opsz' 48
 }

.App {
  &__Light {
    background-color: $default-light-bg;
    color: black;
  }

  &__Dark {
    background-color: $default-dark-bg;
    color: white;
  }
}
