/* Button Colors */

// Dark - Default
$btn-default-dark-bg: #2f2f33;
$btn-default-dark-hover-bg: #1f1f21;
$btn-default-dark-active-bg: #000000;
$btn-default-dark-outline-color: rgba(154, 152, 152, 0.5);
$btn-default-dark-border-color: rgba(0, 0, 0, 0.5);

// Light - Default
$btn-default-light-bg: #f0f0f0;
$btn-default-light-hover-bg: #d8d7d7;
$btn-default-light-active-bg: #bebebe;
$btn-default-light-outline-color: rgba(220, 220, 220, 0.5);
$btn-default-light-border-color: rgba(110, 110, 110, 0.25);

// Alert colors
$btn-alert-bg: #ff5724;
$btn-alert-hover-bg: #d0491c;
$btn-alert-active-bg: #b63b17;
$btn-alert-outline-color: rgba(255, 120, 79, 0.5);
$btn-alert-border-color: #c72f00;

// Success colors
$btn-success-bg: #12c421;
$btn-success-hover-bg: #10b01d;
$btn-success-active-bg: #1fa82b;
$btn-success-outline-color: rgba(73, 252, 89, 0.5);
$btn-success-border-color: #000000;

// Warning colors
$btn-warning-bg: #eab403;
$btn-warning-hover-bg: #d2a203;
$btn-warning-active-bg: #bb9002;
$btn-warning-outline-color: rgba(243, 197, 44, 0.5);
$btn-warning-border-color: #000000;
