@import "src/Base/Button/colors";

.base {
  &--button {
    outline: none;
    user-select: none;
    font-family: "Outfit SemiBold", sans-serif;
    text-align: center;
    border-radius: 300px;
    border: none;
    transition: background-color 0.1s ease-in-out;
    color: whitesmoke;
    box-shadow: $btn-default-border-color 0 0.5px 0;

    &__default {
      color: whitesmoke;
      background-color: $btn-default-bg;

      &:hover {
        background-color: $btn-default-hover-bg;
      }

      &:active {
        background-color: $btn-default-active-bg;
      }

      &:focus-within {
        box-shadow: $btn-default-outline-color 0 0 0 0.2em;
      }
    }

    &__success {
      color: whitesmoke;
      background-color: $btn-success-bg;

      &:hover {
        background-color: $btn-success-hover-bg;
      }

      &:active {
        background-color: $btn-success-active-bg;
      }

      &:focus-within {
        box-shadow: $btn-success-outline-color 0 0 0 0.2em;
      }
    }

    &__warning {
      color: whitesmoke;
      background-color: $btn-warning-bg;
      box-shadow: #000 0 0.5px 0;

      &:hover {
        background-color: $btn-warning-hover-bg;
      }

      &:active {
        background-color: $btn-warning-active-bg;
      }

      &:focus-within {
        box-shadow: $btn-warning-outline-color 0 0 0 0.2em;
      }
    }


    &__alert {
      color: whitesmoke;
      background-color: $btn-alert-bg;

      &:hover {
        background-color: $btn-alert-hover-bg;
      }

      &:active {
        background-color: $btn-alert-active-bg;
      }

      &:focus-within {
        box-shadow: $btn-alert-outline-color 0 0 0 0.2em;
      }
    }

    &__small {
      padding: 5px 10px;
      font-size: 9pt;
    }

    &__medium {
      padding: 8px 15px;
      font-size: 13pt;
    }

    &__large {
      padding: 8px 20px;
      font-size: 20pt;
    }
  }
}