@import "../../Assets/Themes/Default/colors";

.base {
  &--button {
    outline: none;
    user-select: none;
    padding: 5px 10px;
    font-family: "Outfit Regular", sans-serif;
    background-color: $default-background;
    border-radius: 300px;
    border: none;

    &--small {
      font-size: 9pt;
    }

    &--medium {
      font-size: 13pt;
    }

    &--large {
      padding: 8px 20px;
      font-size: 20pt;
    }
  }
}