// ------------------------------------
// Menu Component Stylesheet
// ------------------------------------

@import "src/Common/Assets/Themes/colors";

.active {
  background-color: rgba(208, 208, 208, 0.4) !important;
}

.Base {
  &__Menu {
    font-family: "Outfit", sans-serif;

    &--Title {
      font-size: 10pt;
      border-radius: 5px;
      user-select: none;
      -webkit-user-select: none;
      padding: 0.4em;
      width: fit-content;

      &:hover {
        background-color: rgba(234, 234, 234, 0.4);
      }
    }
  }
}
