@import "colors";

.Appl {
  &__Header {
    font-family: "Outfit", sans-serif;
    background-color: $appheader-bg;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 2.5em;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &--Title {
      font-weight: 900;
      font-size: 20px;
      line-height: 1;
      display: inline-block;
      vertical-align: top;
    }

    &--Content {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }
}