@import 'colors';

.base {
  &--textfield {
    padding: 2px 5px;
    outline: none;
    font-family: "Outfit Regular", sans-serif;
    font-size: 9pt;
    border: $textfield-default-dark-border-color solid 2px;
    border-radius: 300px;
  }
}