@import 'colors';

.Base {
  &__TextField {
    transition: all 0.1s ease-in-out;
    padding: 2px 5px;
    outline: none;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 9pt;
    border: $textfield-default-dark-border-color solid 1.3px;
    border-radius: 300px;
    background-color: $textfield-default-background-color;

    &:focus-within {
      box-shadow: $textfield-default-dark-outline-color 0 0 0 0.2em;
    }
  }
}