@font-face {
  font-family: "Outfit Thin";
  src: url("/src/assets/fonts/Outfit/Outfit-Thin.ttf");
}

@font-face {
  font-family: "Outfit SemiBold";
  src: url("/src/assets/fonts/Outfit/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: "Outfit Regular";
  src: url("/src/assets/fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
  font-family: "Outfit Medium";
  src: url("/src/assets/fonts/Outfit/Outfit-Medium.ttf");
}

@font-face {
  font-family: "Outfit Light";
  src: url("/src/assets/fonts/Outfit/Outfit-Light.ttf");
}

@font-face {
  font-family: "Outfit ExtraLight";
  src: url("/src/assets/fonts/Outfit/Outfit-ExtraLight.ttf");
}

@font-face {
  font-family: "Outfit ExtraBold";
  src: url("/src/assets/fonts/Outfit/Outfit-ExtraBold.ttf");
}

@font-face {
  font-family: "Outfit Bold";
  src: url("/src/assets/fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
  font-family: "Outfit Black";
  src: url("/src/assets/fonts/Outfit/Outfit-Black.ttf");
}