@import "../../colors";

.base {
  &--button {
    background-color: $default-background;
    border-radius: 20px;
    border: none;

    &--small {
      font-size: 9pt;
    }

    &--medium {
      font-size: 13pt;
    }

    &--large {
      font-size: 20pt;
    }
  }
}