@import "../../colors";

.base {
  &--button {
    background-color: $default-background;
    border-color: #f6f6f6 #939393 #939393 #f6f6f6 !important;
    border: 2px solid;

    &:active {
      border-color: #939393 #f6f6f6 #f6f6f6 #939393 !important;
    }
  }
}