// ------------------------------------
// Sidebar Component Stylesheet
// ------------------------------------

@import "colors";

.Base {
  &__Sidebar {
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    color: black;
    width: fit-content;
    gap: 0.3em;
    min-width: 20em;
    margin: 10px;
    padding: 1em;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-user-select: none;
    user-select: none;

    &--MenuBtn {
      width: fit-content;
    }
  }
}