// ------------------------------------
// Sidebar Component Stylesheet
// ------------------------------------

@import "colors";

.Base {
  &__Sidebar {
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    color: black;
    width: fit-content;
    gap: 0.3em;
    min-width: 20em;
    padding: 1em;
    border-radius: 15px;
    background-color: white;
    border: 1px solid $item-default-dark-border-color;
    -webkit-user-select: none;
    user-select: none;

    &--MenuBtn {
      width: fit-content;
    }
  }
}