// Import fonts here
// Using Google Fonts CDN
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'colors';

// Default config
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // Default Display font
  font-family: "Outfit", sans-serif;
  font-size: 9pt;
}

.Appl {
  &--Application {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.App {
  &--Light {
    background-color: $default-light-bg;
    color: black;
  }

  &--Dark {
    background-color: $default-dark-bg;
    color: white;
  }
}